html
  head
  body
    - if @photos.any?
      - for photo in @photos do
        div
          img src="/image/#{photo.photo_id}" alt="#{photo.comment}"

    form action="/upload" method="post" enctype="multipart/form-data"
      input type="file" name="photo" accept="image/*" capture="camera"
      input type="submit" value="Upload"
