html
  head
    title アップロード
  body
    h1 Camera Demo
      form action="/upload" method="post" enctype="multipart/form-data"
        input type="file" name="photo" accept="image/*" capture="camera"
        input type="submit" value="Upload"
